@import url('http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:300,400,600,700');

* {
    margin: 0;
}

html, body {
    height: 100%;
    background-color: white;
}

body, select {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    font-size: 1em;
}

/*Header styles*/

header {
    color: white;
    background-color: #145184;
}

#logo {
    width: 15em;
    font-size: 2em;
}

#nav ul ul a {
    width: 15em;
}

.topmost.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: .5em;
    border-bottom: 1px white solid;
}
.topmost.cell {
    margin: 0;
    width: 12em;
}

/*In filters list*/

#filters {
    margin-top: 0;
    padding-top: .5em;
    padding-left: 0;
    font-size: .8em;
}

#filters label, #filters select, #filters span, #filters a {
    color: white;
    background-color: #145184;
}

#filters select {
    border: 0;
}

#filters .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
#filters .cell {
    margin: 0 1em .5em 1em;
    width: 17em;
}

/*Overall Layout*/
#vizs {
    width: 95%;
    margin: auto;
    padding-top: 2em;
}

#vizs .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
#vizs .cell {
    margin: 0;
}

#specVis {
    float: left;
}

#whoVis {
    height: 200px;
    width: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

a:active {
    outline:0;
    color: #6CAED7;
}


footer {
    clear: both;
    position: absolute;
    bottom:0;
    width:100%;
}

