@import url('http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:300,400,600,700');

* {
    margin: 0;
}

html, body {
    height: 100%;
}
body {
    background-color: white;
    font-size: .7em;
}

body, select {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    color: darkslategray;
}

main {
    width: 90%;
    /* the negative margin needs to be matched below */
    margin: 0 auto -3em;
    min-height: 100%;
}

/*Header styles*/
/* Thanks to Ryan Fait, http://ryanfait.com/ */
footer {
    clear: both;
    width:100%;
    padding: .5em;
}
footer, .push {
    height: 3em;
}
header, footer {
    color: white;
    background-color: #145184;
}

#logo {
    width: 30em;
    font-size: 2em;
}

#nav ul ul a {
    width: 20em;
}

.header.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: .5em;
    border-bottom: 1px white solid;
}
.header.cell {
    margin: 0;
    width: 12em;
}

/*Main layout*/

/*Overall Layout*/
main {
    width: 95%;
    margin: auto;
    padding-top: 1em;
}

main .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

main .cell {
    margin: 0;
}

.timelines.row {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

/*In filters list*/

#viz_nav {
    display: block;
    width: 17em;
    height: 460px;
}
#filters {
    margin-top: 0;
    padding-top: .5em;
    padding-left: 0;
    width: 17em;
}

#filters select {
    border: 0;
}

#filters .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
#filters .cell {
    margin: 0 1em .5em 1em;
    width: 17em;
}

/*LEGEND*/

#legend text{
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    fill: white;
    font-size: .9em;
}

#specVis {
    float: left;
}


#whoVis {
    height: 460px;
    width: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    /*padding-right: 20px;   need room for scrollbar */
}

#whoVis text {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
}

g.who:hover {
    border: yellow 1px solid;
}

/*TOOLTIPS*/
.d3-tip {
    z-index: 9999;
    background-color: white;
    border-radius: 5px;
    border: 2px solid #c9b3a2;
    padding: 2px;
    padding-right: 5px;
    padding-left: 5px;
    max-width: 200px;
}

/* DETAILS LIST */
#details {
    height: 460px;
    width: 250px;
    overflow-y: scroll;
    overflow-x: auto;
    padding-right: 2em;
    text-align: right;
}
#details ul {
    padding: 0;
}
.collapsibleList li {
    list-style-type: none;
    cursor:auto;
}

li.collapsibleListOpen {
    list-style-type: none;
    cursor:pointer;
}

li.collapsibleListClosed {
    list-style-type: none;
    cursor:pointer;
}

#details ul li, #details ul li ul li {
    padding-bottom: 1em;
}


a:active {
    outline:0;
    color: #6CAED7;
}



