/* COLOR CODING */

.HTML {
    fill: #145184;
}
.Tests {
    fill: #142335;
}
.group, .groups {
    fill: #1E3248;
}
.specs {
    fill: #B2BDC7;
}
.spec[caniuse="0"] {
    fill: #8F9299;
}
.spec[caniuse="1"] {
    fill: #41658C;
}
.spec[caniuse="2"] {
    fill: #C9B3A2;
}
.spec[caniuse="3"] {
    fill: #52a5ae;
}
.spec[caniuse="4"] {
    fill: #6CAED7;
}
.commit, .COM {
    fill: rgb(218,165,32);
}
.pull.closed, .test.closed, .PR_C {
    fill: rgb(210, 180, 140);
}
.pull.open, .test.open, .PR_O {
    fill: #145184;
}
.issue.closed, .ISS_C {
    fill: rgb(170, 10, 30);
}
.issue.open, .ISS_O {
    fill: rgb(220, 20, 60);
}

/*SUNBURST STUFF*/

.sunburst .root {
    fill: white;
}

/* CONTRIBUTOR LIST */

#whoVis text {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    font-size: .7em;
    color: darkslategray;
}

#whoVis.who {

}

.who[selected="false"] {
    opacity: .5;
}
.who[selected="true"] {
    opacity: 1;
}

/*LEGEND*/

#legend text{
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: .5em;
    font-weight: 300;
    fill: white;
}

#legend g {
    float: left;
}

/*TIMELINE STUFF*/


/*.categoryLine{
    stroke: darkgrey;
    stroke-width: 1;
}
*/

/* spec published */
.PUB {
    fill: lightgrey;
}
.PUB.REC {
    fill: black;
}

/*GENERAL STUFF*/

.axis text {
    font: 10px sans-serif;
}
.axis line,.axis path {
    fill: none;
    /*stroke: #000;*/
    shape-rendering: crispEdges;
}
.boundingBox{
    cursor: pointer;
    fill: grey;
    fill-opacity: .3;
    pointer-events: all;
}
/*path {
    stroke: #fff;
    fill-rule: evenodd;
}*/

 /*FUNCTIONALITY*/

.brush{
    fill: #142336;
    fill-opacity: .4;
    pointer-events: none;
}

.d3-tip{
    z-index: 9999;
    font-size: .7em;
    background-color: white;
    border-radius: 5px;
    border: 2px solid #c9b3a2;
    padding: 2px;
    padding-right: 5px;
    padding-left: 5px;
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
}



