/* COLOR CODING
    needs to be updated elsewhere too
    when a linear gradient is applied to a rect
*/


.WD {
    fill: #c6dbef; /* copy changes to specVis canIUse*/
}
.LCWD {
    fill: #6baed6; /* copy changes to specVis canIUse*/
}
.CR {
    fill: #2171b5; /* copy changes to specVis canIUse*/
}
.PR {
    fill: #145184; /* copy changes to specVis canIUse*/
}
.REC {
    fill: #08306b; /* copy changes to specVis canIUse*/
}

.Tests {
    fill: #353535;
}
.commit, .COM {
    fill: rgb(210,180,140);  /* copy changes to WhoVis */
}
.pull.closed, .test.closed, .PR_C {
    fill: rgb(218,165,32);  /* copy changes to WhoVis */
}
.pull.open, .test.open, .PR_O {
    fill: #145184;  /* copy changes to WhoVis */
}
.issue.closed, .ISS_C {
    fill: rgb(170, 10, 30);  /* copy changes to WhoVis */
}
.issue.open, .ISS_O {
    fill: rgb(220, 20, 60);  /* copy changes to WhoVis */
}

/*SUNBURST STUFF*/

.sunburst .root {
    fill: white;
}
.sunburst .WD {
    stroke : #08306b;
}
.sunburst .LCWD {
    stroke : #08306b;
}

/* CONTRIBUTOR LIST */

.who[selected="false"] {
    opacity: .5;
}
.who[selected="true"] {
    opacity: 1;  /* or remove? */
}


/*TIMELINE STUFF*/


/*.categoryLine{
    stroke: darkgrey;
    stroke-width: 1;
}
*/

/* spec published */
.PUB {
    fill: lightgrey;
}
.PUB.REC {
    fill: black;
}

/*GENERAL STUFF*/

.axis text {
    font-size: .9em;
}
.axis line {
    fill: none;
    stroke: darkslategray;
}
.axis path {
    display: none;
}
.boundingBox{
    cursor: pointer;
    fill: grey;
    fill-opacity: .3;
    pointer-events: all;
}
/*path {
    stroke: #fff;
    fill-rule: evenodd;
}*/

 /*FUNCTIONALITY*/

.brush{
    fill: #142336;
    fill-opacity: .4;
    pointer-events: none;
}




